<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="app.css" />
    <title>Vue Js training</title>
  </head>
  <body>
    <div id="app">
      <!-- <h1>{{age}}</h1> -->
      <!-- <input type="text" v-model:value="name"> -->
      <!-- <p>{{name}}</p> -->

      <!-- <button @click="alert">Alert</button> -->
      <div align="center">
        <button class="btn-success" @click="result = !result">
          Show result
        </button>

      <!-- <ul align="center" v-if="result">
        <li v-for="(type, i in types" style="list-style: none;">{{i}} {{type.name}} - {{type.age}}</li>
      </ul> -->

      <template v-for="(type, index) in types" v-if="result">
          <h3>{{type.name}}</h3>
          <p>{{type.age}}</p>
      </template>

    </div>
    </div>

    <script src="app.js"></script>
  </body>
</html>
